h1{
    color: red;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rosybrown;
    font-family: 'Squada One', cursive;
}

.logo{
    colour:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.navLinks li{
    list-style: none;
}

.navLinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: seashell;
    margin: 5px;
}

@media screen and (max-width:1024px){
    .navLinks{
        width:60%
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
   .navLinks{
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: rosybrown;
       display: flex;
       flex-direction: unset;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }
   .navLinks li{
       opacity: 0;
   }
   .burger{
       display: block;
       cursor: pointer;
   }
}

.nav-active{
    transform: translateX(0%);
}